.box0 {
    width:690px;
    height: auto;
    float: left;
    padding: 20px;
}
/**/
.row {
    padding: 0;
    margin: 0;
}

.containers {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.thumbnail {
    padding: 0;
    border-radius: 0px;
}

.thumbnail:hover {
    border-color: #428bca;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}

#head {
    position: relative;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

#Carousels {
    position: relative;
    width: 100%;
    height: auto;
}

.like{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.content {
    padding-top: 50px;
    position: relative;
    width: 90%;
    height: auto;
    margin: 0 auto;
}

#themeTour {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    margin-bottom: 50px;
}

#clause {
    position: relative;
    width: 100%;
    height: auto;
    background: black;
    height: 300px;
}

.section_title {
    padding-bottom: 5px;
    border-bottom: 2px solid #fd7a06;
    position: relative;
    margin-bottom: 6px;
    text-align: left;
    color: #fd7a06;
}

.more {
    color: #959595;
    font-size: 12px;
    position: absolute;
    right: 6px;
    top: 15px;
    line-height: normal;
}

/*导航条*/
.navigation ul li {
    list-style-type: none;
    cursor: pointer;
    float: left;
}

.navigation ul li a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.navigation_item {
    width: 60px;
    float: right;
    height: 60px;
    text-align: center;
}

.navigation_style {
    color: #fff;
}

.nav_item2, .nav_item3 {
    width: 80px;
}

.nav_item4 {
    width: 100px;
}

.activity {
    color: #fff;
}
.carousel-inner img{
    width: 100%;
}
.reg, .login{
    display: inline-block;
    width: 30px;
    height:60px;
    cursor: pointer;
}

.reg:hover{
    color: #fd7a06;
}

.login:hover{
    color: #fd7a06;
}

/*轮播图片*/
.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0) 0), color-stop(rgba(0, 0, 0, 0) 100%));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0) 0), color-stop(rgba(0, 0, 0, 0) 100%));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}

.carousel-inner {
    position: relative;
    width: 1349px;
    overflow: hidden;
}
/**/
.box0 {
    width:690px;
    height: auto;
    float: left;
    padding: 20px;
}
.box1{
    width: 200px;
    height: 300px;
    float: left;
}
a:link {
    color:#000000;
    text-decoration:none;
}
a:visited {
    color:#000000;
    text-decoration:none;
}
a:hover {
    color:#000000;
    text-decoration:none;
}
a:active {
    color:#000000;
    text-decoration:none;
}
.pic{
    width: 74px;
    height: 74px;
    border-radius: 50%;
    float: left;
    -webkit-transform: rotate(10deg);
    -webkit-transition: -webkit-transform 1s linear;
   margin-top: 5px;
}
.pic:hover{-webkit-transform: rotate(90deg)}
.pic1{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    float: left;
    -webkit-transform: rotate(10deg);
    -webkit-transition: -webkit-transform 1s linear;

}
.pic1:hover{-webkit-transform: rotate(90deg)}
.box2{

    width: 280px;
    height: 90px;
    padding-top: 20px;
    padding-left:100px;
    word-wrap: break-word;
}
.box2:hover{
    text-shadow: 1px 1px 1px gray;
}
.box3{
    width: 250px;
    height: 25px;
    float: left;
    background-color: #EFEFEF
}
.info3{
    border-bottom: 0;
    padding-left: 10px;
    height: 85px;
    width: 100px;
    padding-top: 10px;
    padding-right: 8px;
    float: left;
}
.box4 {
    width:690px;
    height: auto;
    float: left;
    padding: 20px;
}
.item {
    padding-left: 90px;
    margin-bottom: 20px;
    line-height: 32px;
    font-size: 16px;
}
.label1{
    float: left;
    margin-left: -90px;
    width: 70px;
    text-align: right;
}
.bt1{
    display: inline-block;
    margin-top: 10px;
    width: 160px;
    height: 50px;
    background-color: #ffa800;
    text-align: center;
    color: #fff;
    font-size: 20px;
    line-height: 50px;
    border-radius: 3px;
}