body {
    padding: 0;
    margin: 0;
    font-family: 微软雅黑;
    min-width: 1000px;
}

.row {
    padding: 0;
    margin: 0;
}

.containers {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.thumbnail {
    padding: 0;
    border-radius: 0px;
}

.thumbnail:hover {
    border-color: #428bca;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}

#head {
    position: relative;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px;
}

#Carousels {
    position: relative;
    width: 100%;
    height: auto;
}

.like{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.content {
    padding-top: 50px;
    position: relative;
    width: 90%;
    height: auto;
    margin: 0 auto;
}

#themeTour {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    margin-bottom: 50px;
}

#clause {
    position: relative;
    width: 100%;
    height: auto;
    background: black;
    height: 300px;
}

.section_title {
    padding-bottom: 5px;
    border-bottom: 2px solid #fd7a06;
    position: relative;
    margin-bottom: 6px;
    text-align: left;
    color: #fd7a06;
}

.more {
    color: #959595;
    font-size: 12px;
    position: absolute;
    right: 6px;
    top: 15px;
    line-height: normal;
}

/*导航条*/
.navigation ul li {
    list-style-type: none;
    cursor: pointer;
    float: left;
}

.navigation ul li a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.navigation_item {
    width: 60px;
    float: right;
    height: 60px;
    text-align: center;
}

.navigation_style {
    color: #fff;
}

.nav_item2, .nav_item3 {
    width: 80px;
}

.nav_item4 {
    width: 100px;
}

.activity {
    color: #fff;
}
.carousel-inner img{
    width: 100%;
}
.reg, .login{
    display: inline-block;
    height:60px;
    cursor: pointer;
}

.reg:hover{
    color: #fd7a06;
}

.login:hover{
    color: #fd7a06;
}

/*轮播图片*/
.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0) 0), color-stop(rgba(0, 0, 0, 0) 100%));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0) 0), color-stop(rgba(0, 0, 0, 0) 100%));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

#searchBox {
    z-index: 9999;
    position: absolute;
    width: 600px;
    height: 130px;
    left: 400px;
    top: 200px;
    background-color: rgba(0, 0, 0, 0.3);
}

#radioGroup {
    color: #fff;
    height: 40px;
    width: 100%;
    padding: 10px 5px 5px 0px;
    text-align: center;
}

#radioGroup span {
    margin-right: 5px;
    cursor: pointer;
    font-size: 18px;
}

#radioGroup span input {
    margin-right: 5px;
    margin-left: 20px;
    font-size: 50px;
}

#input_Group {
    padding: 0;
    position: absolute;
    width: 100%;
    height: 60px;
}

#input_Group ul {
    padding: 0;
    overflow: hidden;
}

#input_Group ul li {
    display: none;
    margin-left: 15px;
    margin-top: 25px;
}

#input_Group ul li input {
    border-radius: 7px;
    width: 500px;
    height: 40px;
}

#input_Group ul li .indexIcon {
    display: block;
    width: 32px;
    height: 32px;
    line-height:52px;
    margin-right: 10px;
    float: right;
    /*background: url("images/search.png");*/
    background-image: url("../images/search.png");
    cursor: pointer;
}

#input_Group ul li.show {
    display: block;
}

/*猜你感兴趣*/
.title {
    display: block;
    width: 20%;
    height: 50px;
    float: left;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    background: #4af;
}

.tabOption {
    float: right;
    width: 72%;
    height: 50px;
    padding-top: 15px;
}

.modalImage{
    margin-top: 20px;
}

.images {
    overflow: hidden;
    margin: 0;
    padding:0;
}

.images img {
    width: 100%;
    height:100%;
    cursor: pointer;
    transition: all 1s;
}

.images img:hover {
    transform: scale(1.4);
}

/*图片下方的信息*/
.imageInfo {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 60px;
    background: #fff;

    border: 1px solid #ccc;
    border-top: none;
}

.imageInfo a{
    text-align:center;
    font-size: 16px;
}

.imageInfo:hover {
    border: 1px solid #428bca;
    border-top: none;
}

.viewSpots {
    position: absolute;
    height: 40px;
    width: 100%;
}

.viewSpots .viewSpot {
    position: absolute;
    padding-left: 15px;
    font-size: 16px;
    width: 50%;
    height: 100%;
    text-align: left;
    line-height: 40px;
}

.viewSpots .viewSpot a {
    text-decoration: none;
    cursor: pointer;
}

.viewSpotBtn {
    width: 50%;
    height: 100%;
    position: relative;
    float: right;
    line-height: 40px;
}

.linkList {
    position: absolute;
    top: 35px;
    width: 100%;
}

.linkList .linkListItem {
    position: relative;
    width: 80%;
    left: 10%;
    top: 20px;
}

.linkList .linkListItem a {
    display: block;
    width: 33.3%;
    float: left;
    font-size: 16px;
}

.linkList .linkListItem a:hover {
    text-decoration: none;
}

.themeTourItem {
    position: relative;
    float: left;
    width: 22%;
    height: 22%;
    margin-left: 1%;
    margin-right: 2%;
    margin-top: 30px;
    margin-bottom: 50px;
    cursor: pointer;
    overflow: hidden;
    z-index: 9999;
}

.themeTourImageHover {
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    position: absolute;
    line-height: 50px;
    opacity: 0;
    left: 0;
    top: 0;
    overflow: hidden;
}

.themeTourImageHover h3 {
    margin-top: 170px;
    color: #fff;
}

.themeTourImageHover:hover {
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background: #1eb450;
    transition: opacity .5s;
}

/*游记*/

#travels {
    text-align: center;
	margin-bottom:50px;
}

#travels .travelsItem {
    width: 22%;
    height: 350px;
    float: left;
    margin-left: 1%;
    margin-right: 2%;
    cursor: pointer;
    margin-top: 30px;
}
#travels .more{
    top:95%;
}

#travels img {
    width: 100%;
}

#travels .travelsItemInfo {
    position: relative;
    width: 100%;
    height: 50px;
}

.travelsItem .travelsItemHead {
    display: block;
    width: 80%;
    height: 10%;
    overflow: hidden;
    font-size: 24px;
    margin: 20px;
    margin-bottom: 10px;

}

.travelsItem .travelsItemLocation {
    display: block;
    width: 80%;
    height: 10%;
    color: #666;
    overflow: hidden;
    text-align: center;
    line-height: 26px;
    margin-left: 10%;
}

.travelsItem .travelsItemDesc {
    display: block;
    width: 80%;
    height: 40%;
    color: #666;
    overflow: hidden;
    text-align: center;
    line-height: 26px;
    margin-left: 10%;
}

#footer {
    clear: both;
    background-color: #3c3c3c;
    color: #c2c2c2;
    line-height: 22px;
    padding-bottom: 20px;
    font-size: 12px;
}


#footer .ft-content {
    width: 80%;
    left:10%;
    margin: 0 auto;
}

#footer .ft-info-col {
    float: left;
    display: inline;
}

#footer .ft-info-about {
    margin-top: 30px;
    width: 128px;
    margin-left: 85px;
}

#footer .ft-info-service {
    width: 135px;
    margin-left: 85px;
    margin-top: 30px;
}

dl {
    display: inline-block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

#footer .ft-info dt {
    height: 30px;
    font-size: 14px;
    overflow: hidden;
}


#footer a:hover {
    color: #fff;
    text-decoration: none;
}

#footer a {
    color: #c2c2c2;
    cursor: pointer;
}
a:hover {
    outline: 0;
    text-decoration: underline;
    color: #ff8a00;
}


#footer .ft-info-qrcode {
    float: right;
    padding-top: 22px;
    line-height: 1.4em;
}

#footer .ft-info-qrcode dd {
    width: 100px;
    display: inline;
    margin-left: 30px;
    float: right;
    text-align: center;
}


#footer .ft-info-qrcode span {
    display: block;
    height: 90px;
    margin: 0 0 8px 6px;
}
#footer .ft-qrcode-tejia {
    background: url(../images/sina.png) no-repeat;
}

#footer .ft-qrcode-weixin{
    background: url(../images/wechat.png) no-repeat;
}